---
import "@styles/global.css"

interface Props {
    title?: string;
    subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<!-- Cover (Vermilion style) -->
<div class="text-center py-8 max-w-[var(--page-width)] mx-auto">
    { title && <p class="text-[var(--text-color)] text-2xl font-semibold py-4">{ title }</p> }
    { subTitle && <p class="text-[var(--text-color-70)] text-base">{ subTitle }</p> }
</div>
